/* // RESET // */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

small {
    color: #555;
}

a {
    text-decoration: none;
    color: #555;
}

h4 {
    color: #555;
    font-weight: normal;
}

p {
    color: #555;
}

ul {
    list-style-type: none;
}

/* // CABEÇALHO // */

.cabecalho {
    background: radial-gradient(#fff, #ffd6d6);

}

.cabecalho .linha {
    margin-top: 70px;

}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 20px;
}

/* // CONTEÚDO // */
.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
}

.botao {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.botao:hover {
    background: #653434;
}

/* // CATEGORIAS // */

.categorias {
    margin: 70px 0;
}

.container-pequeno {
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.titulo {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.titulo::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover {
    transform: translateY(-5px);
}


.col-4 img {
    width: 100%;
}

.col-4 p {
    font-size: 14px;
}

.avaliacao .fas,
.avaliacao .far {
    color: #ff523b;

}

/* // Ofertas // */

.oferta {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .imagem-oferta {
    padding: 50px;
}

/* // Depoimento // */

.depoimento {
    padding-top: 100px;
}

.depoimento .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.depoimento .col-3:hover {
    transform: translateY(-10px);
}

.depoimento .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.fas.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

/* --------- marcas --------- */

.marcas {
    margin: 100px auto;
}

.col-5 {
    width: 160px;

}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);

}

.col-5 img:hover {
    filter: grayscale(0%)
}

/* ----------- rodapé ----------- */

.rodape {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.rodape p {
    color: #8a8a8a;
}

.rodape h3 {
    color: #fff;
    margin-bottom: 20px;
}

.rodape-col-1,
.rodape-col-2,
.rodape-col-3,
.rodape-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1 {
    flex-basis: 30%;
}

.rodape-col-2 {
    flex: 1;
    text-align: center;
}

.rodape-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3,
.rodape-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.rodape hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

/* ------- Responsividade ------- */

.icone-menu {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* media query para telas de 800px */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin: 10px 50px 10px 0;
    }

    nav ul li a {
        color: #fff;
    }

    .icone-menu {
        display: block;
        cursor: pointer;

    }
}

/* ///////////// PÁGINA DE PRODUTOS ////////////// */

.linha-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.botao-pagina {
    margin: 0 auto 80px;
}

.botao-pagina span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.botao-pagina span:hover {
    background: #ff523b;
    color: #fff;
}

/* -----------Detalher do produto  ----------- */

.produto-unico {
    margin-top: 80px;
}

.produto-unico .col-2 img {
    padding: 0;
}

.produto-unico .col-2 {
    padding: 20px;
}



.produto-unico h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.produto-unico select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.produto-unico input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.produto-unico .fas {
    color: #ff523b;
    margin-left: 10px;
}

.linha-imagem-pequena {
    display: flex;
    justify-content: space-between;
}

.imagem-col-pequena {
    flex-basis: 24%;
    cursor: pointer;
}

/* ---------Carrinho ------------- */

.pagina-carrinho {
    margin: 80px auto;
}

.pagina-carrinho table {
    width: 100%;
    border-collapse: collapse;
}

.pagina-carrinho th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;
}

.pagina-carrinho td {
    padding: 10px 5px;
}

.pagina-carrinho td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.pagina-carrinho td a {
    color: #ff523b;
    font-size: 12px;
}

.pagina-carrinho td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.info-carrinho {
    display: flex;
    flex-wrap: wrap;
}

.preco-total {
    display: flex;
    justify-content: flex-end;
}

.preco-total table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 420px;
}

.pagina-carrinho td:last-child {
    text-align: right;
}

.pagina-carrinho th:last-child {
    text-align: right;
}

/* ----------- Página da conta ------- */

.pagina-conta {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.container-form {
    background-color: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container-form span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.botao-form {
    display: inline-block;
} 

.container-form form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    
}

form .botao {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .botao:focus {
    outline: none;
}

form a {
    font-size: 12px;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

#Indicador {
    width: 100px;
    border: none;
    background-color: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
/* media query para telas de 600px */

@media only screen and (max-width: 600px) {
    .linha {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .produto-unico .linha {
        text-align: left;
    }

    .produto-unico .col-2 {
        padding: 20px 0;
    }

    .produto-unico h1 {
        font-size: 26px;
        line-height: 22px;
    }

    .info-carrinho p {
        display: none;

    }
}